.navbar-brand,
.nav{
    background-color: rgba(101, 238, 101, 0.534);
    color: rgb(88, 88, 88);
    font-family: "Fondamento";
    font-size: 25px;
}

.nav-link{
    background-color:#4aeba891;
    color: rgb(88, 88, 88);
    /* border-color: green;
    border-style: inset; */
}
.background{
    background-image: url(../images/color-conifer-environment-192136.jpg);
    background-size: 100%;
}
#jumbotron1{
    background-color: rgba(101, 238, 101, 0.616);
    margin: 100px 70px 0 70px;
    height: 375px;
}
body{
    color: whitesmoke;
}
}
#portfolio-container1{
    margin: 30%;
}
.about-text{
    color:black;
}

footer{
    background-color: rgba(101, 238, 101, 0.534);
    height: 29px;
    width: 100%;
    border-top: solid white 1px;
    /* border: green inset; */
}
/* h1{s
    float: left;
} */
/* margin1{
    margin: 40px;
} */